@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    width: 1600px;
    height: 4256px;
    margin: auto;
}

header{
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, center left;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.logo{
    color: var(--Dark-01, #181818);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav a{
    font-size: 20px;
    font-weight: 700;
}

nav a:hover{
    color: #FD6E0A;
}

span{
    color: #FD6E0A;
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: black;
}

button{
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    color: var(--White-Color, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 30px;
    transition: .3s;
}

button:hover{
    background: white;
    color: #FD6E0A;
    border: solid 2px #FD6E0A;
    border-radius: 5px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.Contact{
    background: transparent;
    border-radius: 5px;
    border: solid 2px #FD6E0A;
    color: var(--White-Color, #FD6E0A);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    transition: .3s;
}

.Contact:hover{
    background: #FD6E0A;
    color: white;
}

.Profile-pic{
    width: 719px;
    height: 720px;
}

.banner{
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-intro{
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Name{
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Motivation{
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.banner-content{
    max-width: 500px;
}

.sec-title{
    color: var(--Dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about{
    padding: 130px;
    border-radius: 5px;
    background: #FFF8F3;
    margin: 230px;
    align-items: center;
    justify-content: column;
}
.about-me{
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.about-nav{
    display: flex;
    justify-content: space-between;
}

.nav{
    text-align: center;
}

.nav-label{
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.label-content{
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.sec-des{
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 345px;
}

.skills{
    gap: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.skill{
    
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 50px;
    margin: auto;
}

.skill-title{
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.skill-des{
    width: 201px;
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.resume{
    display: flex;
    gap: 50px;
    margin: 150px;
}

.res-title{
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.item_title{
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.item-below{
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.res-des{
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.down-cv{
    text-align: center;
}

.res-section{
    margin-bottom: 200px;
    margin-top: 200px;
}

footer{
    background: #FFF8F3;
    gap: 200px;
    display: flex;
    margin-top: 100px;
    padding: 130px 200px;
}

.foot-des{
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.footer-col{
    width: 50%;
}

form input,textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}

i{
    font-size: 30px;
    font-weight: 700;
    margin-right: 5px;
    margin-left: 5px;
}

.hide{
    display: none;
}

@media screen and (max-width: 576px) {

    body{
        font-family: 'Open Sans', sans-serif;
        width: 100%;
        height: 100%;
        margin: auto;
    }

    header{
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    nav{
        width: 300px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .banner{
        display: flex;
        flex-direction: column;
    }

    .banner button{
        display: flex;
        margin: 20px;
    }

    .Profile-pic{
        position: relative;
    }

    .about{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        border-radius: 5px;
        background: #FFF8F3;
        margin: auto;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .about-nav{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .what-i-do{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .resume{
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
        align-items: center;
        margin-bottom: 50px;
        gap: 50px;
        margin: auto;
        margin-top: 150px;
        margin-bottom: 150px;
        width: 335px;
    }

    footer{
        background: #FFF8F3;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 150px;
    }
    
    .footer-social{
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .footer-col{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    form input,textarea{
        display: block;
        margin-bottom: 25px;
        color: #757575;
        border-radius: 5px;
        background: #FFF;
        border: 0;
        width: 275px;
    }

    .res-title{
        width: 300px;
        margin: auto;
    }

}